
        <table class="table">
            <thead>
                <tr>
                    <th id="rcorners" class="background-color" style="width: 15%;"><b>Licensing Plan Name</b></th>
                    <th id="rcorners" class="heading-background-color"
                        style="color:#fff;width: 42%;vertical-align:top!important;background-color:#529fa3">PREMIUM
                        PLAN<br> <br>
                        <p style="font-size: 18px">(Users stored in your own WordPress database)</p>
                    </th>
                    <th id="rcorners" class="heading-background-color"
                        style="color:#fff;vertical-align:top!important;background-color:#529fa3">ALL-INCLUSIVE
                        PLAN<br><br>
                        <p style="font-size: 18px">(Users hosted in miniOrange or Enterprise Directory like Azure AD,
                            Active Directory, LDAP, Office365, Google Apps or any 3<sup>rd</sup> party providers using
                            SAML, OAuth,
                            Database, APIs etc)</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="heading-td-color">
                    <td style="border: 2px solid #fff;" class="background-color">User Slabs / Pricing</td>
                    <td style="border: 2px solid #fff;line-height:2;background-color:#b0dddf">Yearly Pricing
                        <br>
                        <p style="color:red;">(<span class="saml-idp-pricing-slab">50%</span> from 2<sup>nd</sup> year
                            onwards)</p>
                    </td>
                    <td style="border: 2px solid #fff;background-color:#b0dddf">Monthly/Yearly Pricing </td>
                </tr>
                <tr class="pr-row">
                    <td class='background-color' rowspan="2">Pricing</td>
                    <td class="wp-idp-pricing-dropdown">
                        <table class="idp-inner-table" style="margin-bottom:0px;padding:0px 40px;">
                            <tr>
                                <td class="idp-table-border" style="text-align:left">
                                    <div class="price-tr1">
                                        <div class="sub-price-tr1">
                                            <label for="users" class="wp-idp-pricing-label">Select SSO Users : </label>
                                        </div>
                                </td>
                                <td class="idp-table-border">
                                    <div class="idp-sub-price-tr1">
                                        <select id="idp-pricing-users" class="usr-slb" name="users">
                                            <option value="1">1-100 Users</option>
                                            <option value="2">101-200 Users</option>
                                            <option value="3">201-300 Users</option>
                                            <option value="4">301-400 Users</option>
                                            <option value="5">401-500 Users</option>
                                            <option value="6">501-1000 Users</option>
                                            <option value="7">1001-2000 Users</option>
                                            <option value="8">2001-3000 Users</option>
                                            <option value="9">3001-4000 Users</option>
                                            <option value="10">4001-5000 Users</option>
                                            <option value="11">5000+ Users</option>

                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="idp-table-border" id="idp-border1"
                                    style="text-align:left;border-bottom:1px solid #dfdfdf">

                                    <div id="sub-price-tr2">
                                        <span style="font-weight: 600;font-size:14px;">1<sup>st</sup> Year Price</span>
                                    </div>
                                </td>
                                <td class="idp-table-border" id="idp-border2" style="border-bottom:1px solid #dfdfdf">
                                    <div id="price-head" class=" text-center"><span id="full-price"
                                            class="saml-idp-pricing-slab" style="font-size:2.3rem;">$500</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="idp-table-border" style="text-align:left">
                                    <div id="sub-price-tr3">
                                        <span style="font-weight:600;font-size:14px;">2<sup>nd</sup>
                                            Year Onwards Price</span>
                                    </div>
                                </td>
                                <td class="idp-table-border">
                                    <div id="price-head1" class=" text-center"><span id="half-price"
                                            class="saml-idp-pricing-slab1" style="font-size:2.3rem;">$250</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="idp-final-pricing"><u><a id="wp-idp-final-pricing-link"
                                    href="https://www.miniorange.com/contact" target="_blank">Request a Quote</a></u>
                        </div>
                    </td>
                    <td class="wp-idp-pricing-dropdown" style="font-size: 18px;line-height:1.6"><b>Starts from <span
                                class="saml-idp-pricing-slab">$2</span>/user/month<br></b></td>
                </tr>
                <tr>
                    <td data-link="https://login.xecurify.com/moas/login?redirectUrl=https://login.xecurify.com/moas/initializepayment&amp;requestOrigin=wp_saml_idp_premium_plan"
                        style="vertical-align: middle;" id="rcorners2" class="btn  pricing-btn btn-secondary">UPGRADE
                        NOW</td>
                    <td data-link="https://www.miniorange.com/contact" style="vertical-align: middle;" id="rcorners2"
                        class="pricing-btn btn">REQUEST A QUOTE</td>
                </tr>
                <tr>
                    <td class="background-color">Multiple Service Providers</td>
                    <td class="data-background-color"><span class="saml-idp-pricing-slab"
                            style="font-size:22px">$50</span> per additional SP <button type="button"
                            class="btn-secondary" data-toggle="tooltip" data-placement="bottom" style="
    padding: 0px 0px;
    min-height: 0px;
    color: black;
    background: #EDF6F7;
    font-size: 15px;
    margin-left: 6px;
    " title="" data-original-title="If you want more than one Service Providers then you will be charged $50 additional per SP">
                            <i class="fas fa-info-circle"></i>
                        </button></td>
                    <td class="data-background-color">No additional charges for SP</td>
                </tr>
                <tr>
                    <td class="background-color">User Storage Location</td>
                    <td class="data-background-color">Keep Users in WordPress Database</td>
                    <td class="data-background-color">Keep Users in miniOrange Database or Enterprise Directory like
                        Azure AD, Active Directory, LDAP, Office 365, Google Apps or any 3<sup>rd</sup> party providers
                        using SAML,
                        OAuth, Database, APIs etc.</td>
                </tr>
                <tr>
                    <td class="background-color">Password Management</td>
                    <td class="data-background-color">Password will be stored in your WordPress Database</td>
                    <td class="data-background-color">Password can be manage by miniOrange or by the 3<sup>rd</sup>
                        party Identity
                        Provider</td>
                </tr>
                <tr>
                    <td class="background-color">SSO Support </td>
                    <td class="data-background-color">SAML<br>WS-FED<br>JWT</td>
                    <td class="data-background-color">SAML <br>WS-FED<br>OAUTH<br>OIDC<br>JWT<br>RADIUS</td>

                </tr>
                <tr>
                    <td class="background-color">User Registration</td>
                    <td class="data-background-color">Use your own existing WordPress Sign-up Form</td>
                    <td class="data-background-color">Sign-up via miniOrange Login Page</td>
                </tr>
                <tr>
                    <td class="background-color">Login Page</td>
                    <td class="data-background-color">Use your own existing WordPress Login Page</td>
                    <td class="data-background-color">Fully customizable miniOrange Login Page</td>
                </tr>
                <tr>
                    <td class="background-color">Custom Domains</td>
                    <td class="data-background-color">Use your own WordPress Domain</td>
                    <td class="data-background-color">Fully custom Domain Provided</td>
                </tr>
                <tr>
                    <td class="background-color">Social Providers</td>
                    <td class="data-background-color"><a
                            href="https://plugins.miniorange.com/social-login-social-sharing#pricing" class="text-color"
                            target="_blank"><u>Click here</u></a> to purchase Social Login Plugin seperately</td>
                    <td class="data-background-color">Included <br>(Facebook, Twitter, Google+, etc)</td>
                </tr>
                <tr>
                    <td class="background-color">Multi-Factor Authentication </td>
                    <td class="data-background-color"><a
                            href="https://plugins.miniorange.com/2-factor-authentication-for-wordpress#pricing"
                            class="text-color" target="_blank"><u>Click here</u></a> to purchase Multi-Factor
                        Authentication Plugin
                        seperately</td>
                    <td class="data-background-color">Included</td>
                </tr>
                <tr class='lst-rw'>
                    <td class="background-color">User Provisioning</td>
                    <td class="data-background-color">Not Included</td>
                    <td class="data-background-color">Included</td>
                </tr>



            </tbody>
        </table>

